{% extends 'base.html'%}
{% block title %}
  Wall
{% endblock %}
{% block content %}
<div class="container" style='background-color: whitesmoke;'>
<div class="row" style='padding :30px'>
  <div class="mb-3 mx-auto">
    {% if wall_list %}
    {% for wall in wall_list%}
      <div class="card text-center" style='max-width: 450px;margin: 10px;'>
        <span> Author {{wall.author}}</span>
            <div class="card-body">
              {% if wall.image %}
                <img src="{{wall.image.url}}" alt="image">
              {% endif %}
              <h1 class="card-title"> {{wall.title}}</h1>
              <p class="card-text">{{wall.content |linebreaks | truncatewords:50}}</p>
              <small class="text-muted"> {{wall.timestap}}</small>
              <p></p>
              <a href="{% url 'wall_detail' wall.slug %}" style="color: #53abe1;">view</a>
              {% if request.user.is_authenticated%}
                  <a href="{% url 'wall_update' wall.slug %}"  style="color: #53abe1;">update</a>
                  <a href="{% url 'wall_delete' wall.slug %}"  style="color: #53abe1;">delete</a>
              {% endif %}
            </div>
      </div>
      {% endfor %}
      {% else %}
        <p> Empty</p>
      {% endif%}
    </div>
  </div>
  </div>
{% endblock %}
<div class="row">
   <div class="col s12 m7">
     <div class="card">
       <div class="card-image">
         <img src="images/sample-1.jpg">
         <span class="card-title">Card Title</span>
       </div>
       <div class="card-content">
         <p>I am a very simple card. I am good at containing small bits of information.
         I am convenient because I require little markup to use effectively.</p>
       </div>
       <div class="card-action">
         <a href="#">This is a link</a>
       </div>
     </div>
   </div>
 </div>
